name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:   
    - cron: '0 12 * * *'

jobs:
  build-srp:
    name: Run SRP Example
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5.0.0
    - name: Use Node.js 22
      uses: actions/setup-node@v6.0.0
      with:
        node-version: 22
        cache: 'npm'    
    - run: npm install      
    - run: npm run build
    - run: npm start

  build-dip:
    name: Run DIP Example
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5.0.0
    - name: Use Node.js 22
      uses: actions/setup-node@v6.0.0
      with:
        node-version: 22
        cache: 'npm'    
    - run: npm install      
    - run: npm run build
    - run: npm start